/* 
html {
    height: 100%;
}
body {
    min-height: 100%;
}
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #131525;
    font-size: 1rem;
    overflow-x: hidden;
    
}

.general{
    width: 95%;
    margin: auto;
}

input#menu{
    visibility: hidden;
}

nav{
    display: flex;
    position: sticky;
    height: 55px;
    justify-content: flex-end;
    padding: .5rem 1.25rem;
    z-index: 100;
}

nav>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    background-color: #131525;
    position: absolute;
    height: calc(100vh-55px);
    top: 55px;
    right: 100%;
    transition: all 300ms linear;
    z-index: 100; /* para que la imagen con position absolute no la tape cuando aparezca */
}

nav>ul>li{
    padding: 20px;
}

nav>ul>li>a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

input#menu:checked ~ ul{
    right: 0%;
}

/* HOME INFO */

.home-info{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 25px;
}

/* INFO1 */
.home-info__1{
    width: 40%;
    z-index: 1;
}

.home-info__1>h1{
    font-size: 70px;
    color: #34B0BE;
}

.home-info__1>h1>span{
    font-size: 35px;
    display: block;
    color: #fff;
}

/* HOME INFO 2 */

.home-info__2{
    width: 30%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info__2>p:first-child{
    color: #34B0BE;
    margin-top: 1rem;
}

.home-info__2>p{ /* alinear los p con los logos */
    margin-left: 1rem;
}

/* LOGOS */


.home-info__2__logos{
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-evenly;
}

.home-info__2__logos>div{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    background-color: #d1ceca;
}

.home-info__2__logos>div>img{
    width: 1.5rem;
    margin-top: .5rem;
    background-color: #d1ceca;
}

/* IMG */
.home-info__img{
    background-color: #2e2c3dc2;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
}

.home-info__img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HOME EMPRESAS (las 3 imagenes debajo de la foto)*/

.home-empresas{
    width: 90%;
    padding: 20px;
    background-color: #2e2c3dc2;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    margin: auto;
    margin-top: 7rem;
    position: relative;
    z-index: 1;
}

.home-empresas>div{
    width: 30%;
    height: 5rem;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #d1ceca;
}

.home-empresas>div>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* SOBRE MI */

h2{ /* todos los h2 tienen los mismos estilos */
    font-size: 40px;
    color: #34B0BE;
    text-align: center;
}

#aboutMe{
    margin-top: 3rem;
}

#aboutMe>p{
    width: 90%;
    color: #fff;
    text-align: justify;
    font-size: 25px;
    margin: auto;
}

/* SERVICIOS */

#servicios{
    margin-top: 3rem;
    position: relative;
}

.servicios{
    display: flex;
    position: relative; /* para que no ocupe espacio en la web ya que se sale y genera scroll horizontal*/
    transition: all 300ms linear;
}

.servicios-container{
    position: relative;
    margin: 1rem;
    background-color: #d1ceca;
    text-align: center;
}

.servicios-container>h3{
    font-size: 30px;
    font-weight: bold;
    margin: 1.5rem auto;
}

.servicios-container>p{
    font-size: 20px;
    line-height: 2rem;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.servicios-container__img{
    position: relative;
}

.servicios-container__img>img:nth-child(2){
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

    /* RADIOBUTTON */

input#primero:checked ~ .servicios{
    right: 0vw;
}
input#segundo:checked ~ .servicios{
    right: 50vw;
}
input#tercero:checked ~ .servicios{
    right: 100vw;
}


/* HABILIDADES */

.habilidades{
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    padding: .5rem;
}

.habilidades h2{
    margin-bottom: 2rem;
}

.habilidades h3{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: .5rem;
}

.habilidades .barraProgreso{
    width: 100%;
    background-color: #f9f5f2;
    height: 1rem;
    border-radius: 40px;
    position: relative;
    margin-bottom: 20px;
}

.habilidades > .barraProgreso > div 
{
    background-color: #34B0BE;
    height: 100%;
    border-radius: 40px;
    position: relative;
}

.habilidades .barraProgreso .progreso1{
    width: 70%;
}

.habilidades .barraProgreso .progreso2{
    width: 95%;
}

.habilidades .barraProgreso .progreso3{
    width: 80%;
}

.habilidades .barraProgreso p{
        position: absolute;
        right: 0;
        top: -30px;
        font-size: 14px;
        color: #34B0BE;
        font-weight: bold;
}


/* PORTAFOLIO */

.portafolio{
    width: 100%;
    display: flex;
    position: relative;
    transition: all 300ms linear;
    /* justify-content:  */
}

.portafolio img{
    width: 65%;
    margin: 1.5rem;
}

input#first:checked ~ .portafolio{
    right: 0;
}

input#second:checked ~ .portafolio{
    right: 50%;
}

input#third:checked ~ .portafolio{
    right: 120%;
}

/* CONTACTO */
#contacto{
    margin-top: 2.5rem;
}

.contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacto-container{
    font-size: 30px;
    font-weight: bold;
    /* margin: auto; */
    text-align: center;
    background-color: #d1ceca;
    border-radius: 25px;
    padding: 10px;
    margin: 1rem;
    width: 45%;
    height: 45%;
}

.contacto-container:first-child{
    align-self: flex-start;
}

.contacto-container:nth-child(2){
    align-self: flex-end;
}



.contacto-container>:nth-child(2){  /* primer p */
    font-size: 30px;
    font-weight: bold;
    margin: .5rem auto;
}

.contacto-container>:nth-child(3){ /* segundo p */
    font-size: 20px;
    line-height: 2rem;
    
    margin-bottom: .5rem;
    color: #2e2c3dc2;
    text-align: center;
}

.contacto-container__img{
    position: relative;
}

.contacto-container__img>:first-child{ /* elipse */
    width: 100%;
}

.contacto-container__img>:nth-child(2){ /* icono */
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 40%;
}

/* FOOTER */
footer{
    margin-top: 5rem;
    background-color: #2e2c3dc2;
    padding: 2rem;    
}

footer p{
    text-align: center;
    color: #34B0BE;
    font-size: 20px;
}
/**/